<tr>
  <td> {{report.code}} 
            {{station.title}}  
  </td>
  <td> {{report.temperature}}  
       
  </td>
  <td> {{report.windSpeed}} 
      
  </td>
  <td> {{report.windDirection}}
  
  </td>
  <td> {{report.pressure}} 
   </td>
</tr>
